/* * {
    box-sizing: border-box;
} */

main .about {
    margin: 0px auto;
    height: 78vh;
    width: 1000px;
    padding-top: 120px;
    margin-top: 5px;
} 

main .about .title {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    color: #192774;
    width: 250px;
    border-bottom: 1px solid #192774;
    margin: 0px auto 25px;
}

main .about .caption p{
    letter-spacing: 1px;
    line-height: 20px;
}

main .about .caption p + p {
    margin-top: 20px;
}

main .about .caption span {
    display: block;
    margin-top: 5px;
    margin-left: 0px;
}

main .about .caption span::before {
    content: '●';
    padding-right: 4px;
}