*{
    box-sizing: border-box;
}

body{
    background: rgb(247, 239, 239);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.main{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.main-left{
    width: 70%;
    height: auto;
    padding: 1% 3%;
    background: white;
    border-radius: 7px;
}

.lesson-title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;

    color: #192774;
    border-bottom: 2px solid #192774;
    width: 50%;
    margin: 0 auto;
}

.lesson-img{
    width: 100%;
    padding: 3% 0;
    display: block;
}

.lesson-body{
    font-size: 24px;
    padding: 2% 0;
}
.main-right{
    width: 25%;
    background: white;
    margin: 0;
    padding: 1.5% 0;
    border-radius: 7px;
    list-style: none;
}

.list-lessons{
    font-size: 17px;
    font-weight: 600;
    text-align: center;

    color: #192774;
    border-bottom: 2px solid #192774;
    width: 70%;
    margin: 0 auto 10px;
    padding: 0;
}

.lessons{
    display: block;
    text-decoration: none;
    font-size: 17px;
    padding: 2% 4%;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .main-left{
        width: 67%;
    }
    
    .lesson-body{
        font-size: 20px;
    }
    .main-right{
        width: 30%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .main{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .main-left{
        width: 100%;
    }
    
    .lesson-title{
        font-size: 24px;
    }
    .main-right{
        width: 100%;
        margin-top: 30px;
    }
    
    .list-lessons{
        font-size: 22px;
        width: 60%;
    }
    .lessons{
        font-size: 18px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .main{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .main-left{
        width: 100%;
    }
    
    .lesson-title{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .lesson-body{
        font-size: 20px;
    }
    .main-right{
        width: 100%;
        margin-top: 30px;
    }
    
    .list-lessons{
        font-size: 18px;
        width: 75%;
    }
    .lessons{
        font-size: 18px;
    }
}